<table style="text-align: center">
  <tr>
    <th>Games Played</th>
    <th>Wins</th>
    <th>Loss</th>
    <th>Stale</th>
  </tr>

  <tr>
    <td><%= @leader_board.total_games %></td>
    <td><%= @leader_board.win %></td>
    <td><%= @leader_board.loss %></td>
    <td><%= @leader_board.stale %></td>
  </tr>
</table>